.btn-primary {
  margin-right: 4px;
}

.postImage {
  max-width: 140px;
  max-height: 140px;
  float: left;
  padding: 0.1em;
  margin: 0.5em;
}

.followingImage {
  width: 50px;
  max-width: 50px;
  margin-right: 5px;
}

.articleBody {
  height: 100%;
  width: 100%;
  display: block;
  border: none;
  max-height: 500px;
  min-height: 200px;
}