.postImage {
	max-width: 200px;
	max-height: 200px;
	float: left;
	padding: 0.1em;
	margin: 0.5em;
}

.followingImage {
	width: 48px;
	max-width: 48px;
	margin-right: 5px;
}

textarea{
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border:none;
}

.btn-primary {
	margin-right: 5px;
}